body {
	background-color: teal;
}

.container {
	width: 80%;
	margin: auto;
	background-color: white;
	padding: 10px;
	
}

.hidden {
	display: none;
}

#guinea-pig {
	background-color: grey;
}

.rounded {
	border-radius: 2px;
}